<!-- sites/index.html.erb -->
<h3> Historical Sites Index </h3>
<%= @historic_sites.each do |site| %>
	<p>Name: <%= site["name"] %>
	<p>Category: <%= site["category"] %></p>
	<p>County: <%= site["county"] %></p>
	<p>URL: <a href="<%= site['facility_url'] %>"><%= site["facility_url"] %></a></p>
	<p>Location: lat: <%= site["location"]["coordinates"][0] %>, long: <%= site["location"]["coordinates"][1] %></p>
	<p>Region Number: <%= site["region"] %></p>
	<p>------------------------</p>
<% end %>