<!-- sites/show.html.erb -->
<p>ID: <%= @historic_site.id %></p>
<p>Name: <%= @historic_site.name %></p>
<p>Category: <%= @historic_site.category %></p>
<p>County: <%= @historic_site.county %></p>
<p>URL: <a href="<%= @historic_site.url %>"><%= @historic_site.url %></a></p>
<p>Location: lat: <%= @historic_site.latitude %>, long: <%= @historic_site.longitude %></p>
<p>Region Number: <%= @historic_site.region_number %></p>
