<body>
<!-- <hr> -->
<!-- <h4>Sites from my API</h4> -->
<div id="app">
  <!-- {{ sites }} -->
<!-- 	<div v-for="site in sites">
	  	<p> Name of historic site: {{ site.name }} </p>
	  	<p> Latitude: {{ site.latitude }} </p>
	  	<p> Longitude: {{ site.longitude }} </p>
	  	<hr>
	</div> -->
</div>

<div id="map"></div>
<script>
	function initMap() {
		//----------------------------------------------------------------
		//get my user input center point latitude from the sites_controller
		//var searchLocation = "<%= @address %>";
		var latitude = parseFloat("<%= @lat %>");
	    console.log(latitude)
	    //get my center point latitude from the sites_controller
	    var longitude = parseFloat("<%= @lng %>");
	    console.log(longitude)
	    //create a JS hash with the latitude and longitude
	    var latLng = {lat: latitude, lng: longitude};

	  	var centerPointPin = {name: "Your Location: <%= @address %>", latitude: latitude, longitude: longitude};
	  	//----------------------------------------------------------------
	    //declare the createMarker function (this was at the bottom)
		function createMarker(location){
			//var pinImage = new google.maps.MarkerImage("http://www.googlemapsmarkers.com/v1/009900/");
		    var infowindow = new google.maps.InfoWindow({
		      content: "<p><b><a href="+location.url+">"+location.name+"</a></b></p>"+"<p>"+location.phone+"</p>"+"<p><a href="+location.image_url+"><img src="+location.image_url+" height='142' ></a></p>"+"<p>"+location.description+"</p>"
		    });
		    
		    // Create a marker and set its position.
		    var marker = new google.maps.Marker({
		      position: {lat: location.latitude, lng: location.longitude},
		      map: map, 
		      title: location
		    });
		    
		    marker.addListener('click', function() {
		      infowindow.open(map, marker);
		    });
		}
		//Function for creating a center marker
		function createCenterMarker(location){
			//console.log(location);
		    var infowindow1 = new google.maps.InfoWindow({
		      content: location.name
		    });
		    
		    var pinImage = new google.maps.MarkerImage("http://www.googlemapsmarkers.com/v1/009900/");

		    // Create a marker and set its position.
		    var marker1 = new google.maps.Marker({
		      position: {lat: location.latitude, lng: location.longitude},
		      title: location,
		      icon: pinImage,
		      map: map
		    });
		    
		    marker1.addListener('click', function() {
		      infowindow1.open(map, marker1);
		    });
		};

		//grab the historical sites from my tables via my api
		$.get("/api/v1/sites", function(response) {
			console.log('This is the $.get /api/v1/sites function')
			console.log(response);
			console.log(this);
			// this.sites = response;
			var historicalSites = response;
			console.log(historicalSites);
			//create an array and fill it with all of the historicalSites
			for (var i = 0; i < historicalSites.length; i++) {
			  //call the function 
			  createMarker(historicalSites[i]);
			}
		}.bind(this));
		//grab the historical houses from my tables via my api
		$.get("/api/v1/houses", function(response) {
			console.log('This is the $.get /api/v1/houses function')
			console.log(response);
			console.log(this);
			// this.sites = response;
			var nycHistoricSites = response;
			console.log(nycHistoricSites);
			//create an array and fill it with all of the nycHistoricSites
			for (var i = 0; i < nycHistoricSites.length; i++) {
			  //call the function 
			  createMarker(nycHistoricSites[i]);
			}
		}.bind(this));

		//use my latitude and longitude hash in the map function to set center
	    var map = new google.maps.Map(document.getElementById('map'), {
	      center: latLng,
	      scrollwheel: true,
	      zoom: 12,
	      styles: [
			    {
			        "featureType": "landscape",
			        "stylers": [
			            {
			                "saturation": -7
			            },
			            {
			                "gamma": 1.02
			            },
			            {
			                "hue": "#ffc300"
			            },
			            {
			                "lightness": -10
			            }
			        ]
			    },
			    {
			        "featureType": "road.highway",
			        "stylers": [
			            {
			                "hue": "#ffaa00"
			            },
			            {
			                "saturation": -45
			            },
			            {
			                "gamma": 1
			            },
			            {
			                "lightness": -4
			            }
			        ]
			    },
			    {
			        "featureType": "road.arterial",
			        "stylers": [
			            {
			                "hue": "#ffaa00"
			            },
			            {
			                "lightness": -10
			            },
			            {
			                "saturation": 64
			            },
			            {
			                "gamma": 0.9
			            }
			        ]
			    },
			    {
			        "featureType": "road.local",
			        "stylers": [
			            {
			                "lightness": -5
			            },
			            {
			                "hue": "#00f6ff"
			            },
			            {
			                "saturation": -40
			            },
			            {
			                "gamma": 0.75
			            }
			        ]
			    },
			    {
			        "featureType": "poi",
			        "stylers": [
			            {
			                "saturation": -30
			            },
			            {
			                "lightness": 11
			            },
			            {
			                "gamma": 0.5
			            },
			            {
			                "hue": "#ff8000"
			            }
			        ]
			    },
			    {
			        "featureType": "water",
			        "stylers": [
			            {
			                "hue": "#0077ff"
			            },
			            {
			                "gamma": 1.25
			            },
			            {
			                "saturation": -22
			            },
			            {
			                "lightness": -31
			            }
			        ]
			    }
			]
	    });
	    //Create your center marker
	    createCenterMarker(centerPointPin);

	}
</script>
<!-- My map link with my key is next -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUva3q8K4CQFTUX7WqQXJXY5xV95OhmNU&callback=initMap"
async defer></script>
<div id="form">
	<%= form_tag '/', method: :get do  %>
	  	<input type="submit" value="New Search">
	<% end %>
</div>
</body>

